Package: com.tom.vcamtesttweak
Name: VCam Test Tweak
Version: 2.4.0
Architecture: iphoneos-arm64
Description: VCam v2.4: aspect-correct + orientation-aware video
Maintainer: Local Test
Depends: firmware (>= 15.0)
